{
    "file-paths":[
        {
            "file":"charlesworth.github.io/index.html",
            "path":"/index.html"
        },
        {
            "file":"charlesworth.github.io/me.jpg",
            "path":"/me.jpg"
        },
        {
            "file":"charlesworth.github.io/favicon.png",
            "path":"/favicon.png"
        },
        {
            "file":"charlesworth.github.io/CVCharlesCochrane.pdf",
            "path":"/CVCharlesCochrane.pdf"
        },
        {
            "file":"charlesworth.github.io/keybase.txt",
            "path":"/keybase.txt"
        }
    ],
    "push-file-paths":[
        {
            "file":"charlesworth.github.io/index.html",
            "path":"/",
            "push-paths":[
                "/me.jpg"
            ]
        }
    ]
}